body {
    margin: 0 15%;
}

html {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0;
}
.head {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}
.picture-container {
    position: relative;
}
.me { 
    width:300px;
    box-shadow: 3px 3px gray;
    border-radius: 10px;
}
.name {
    position:absolute;
    top: 300px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    height: 0px;
    left:10px;
}
.about {
    position: relative;
    border: 1px solid black;
    border-left: none;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    background-color: rgb(243, 240, 240);
    border-radius: 0 20px 20px 0;

}
.links { 
    display: flex;
    position: absolute;
    bottom: 16px;
    right: 30px;
    justify-content: space-between;
}
.link-image {  
    width: 40px;
    margin-left: 30px;
}
main{ 
    background-color: rgb(243, 240, 240);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:  2px 2px grey;
    padding: 24px;
    margin-top: 24px;
}
.projects {
    margin:0;
    height:600px;
    background-color: green;
}
.skills-header{ 
    display: flex;
    justify-content: center;
}
.list-skills { 
    display: flex;
    justify-content: space-around;
   
}
.skill-icon {
    width: 5em;
}


